{% load static %}
<footer>
  <section id="main3" class="main3">
      <div class="footer-brand">
          <img src="{% static "images/brand3.svg"%}" alt="" width="23">
          INDI-VILLA
      </div>
      <div class="AC">
          <ul class="A">
              <li><h1>ABOUT</h1></li>
              <li><a class="footer-link" href="">Team</a></li>
              <li><a class="footer-link" href="">Contact</a></li>
          </ul>
      </div>
      <div class="BC">
          <ul class="B">
              <li><h1>SUPPORT</h1></li>
              <li><a href="">Sell</a></li>
              <li><a href="">Buy</a></li>
              <li><a href="">Help</a></li>
          </ul>
      </div>
      <div class="CC">
          <ul class="C">
              <li><h1>FOLLOW US</h1></li>
              <section  id="icon-links" class="icon-links">
                  <li><img src="{% static "images/t.svg"%}" alt="" width="35"></li>
                  <li><img src="{% static "images/g.svg"%}" alt="" width="35"></li>
                  <li><img src="{% static "images/i.svg"%}" alt="" width="35"></li>
                  <li><img src="{% static "images/f.svg"%}" alt="" width="35"></li>
              </section>
          </ul>
      </div>
  </section>
        
</footer>