{% load static %}
<head>
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
</head>
<nav>
    <div class="brand">
            <a href="{% url "index" %}">
                <img src="{% static "images/brand.svg"%}" alt="" width="18">
                INDI-VILLA
            </a>
    </div>
    <ul class="links">
        <li><a class="nav-button"href="">About</a></li>
        <li><a class="nav-button"href="{% url "listings" %}">Listings</a></li>
        <li><a class="nav-button"href="">Buy</a></li>
        <li><a class="nav-button"href="">Sell</a></li>
        <li><a class="divider" href="">I</a></li>
        <li><a class="nav-button"href="{% url "signup" %}">Sign up</a></li>
        <li><a class="nav-button"href="{% url "login" %}">Log in</a></li>
    </ul>
</nav>