{% load static %}
<nav>
    <div class="brand">
            <a href="{% url "index" %}">
                <img src="{% static "images/brand.svg"%}" alt="" width="18">
                INDI-VILLA
            </a>
    </div>
    <ul class="links">
        <li><a class="nav-button"href="">About</a></li>
        <li><a class="nav-button"href="{% url "listings" %}">Listings</a></li>
        <li><a class="nav-button"href="">Buy</a></li>
        <li><a class="nav-button"href="">Sell</a></li>
        <li><a class="nav-button"href="http://localhost:8000/admin/">Admin</a></li>
        <li><a class="divider" href="">I</a></li>
        {% if "signup" in request.path %}
            <li><a class="nav-button"href="{% url "login" %}">Log in</a></li>
        {% elif "login" in request.path %}
            <li><a class="nav-button"href="{% url "signup" %}">Sign up</a></li>
        {% else %}
            <li><a class="nav-button"href="{% url "login" %}">Log in</a></li>
            <li><a class="nav-button"href="{% url "signup" %}">Sign up</a></li>
        {% endif %}

    </ul>
</nav>