{% load static %}
<nav>
    <div class="brand">
            <a href="{% url "index" %}">
                <img src="{% static "images/brand.svg"%}" alt="" width="18">
                INDI-VILLA
            </a>
    </div>
    <ul class="links">
        <li><a class="nav-button"href="">About</a></li>
        <li><a class="nav-button"href="{% url "listings" %}">Listings</a></li>
        <li><a class="nav-button"href="http://localhost:8000/admin/">Admin</a></li>
        <li><a class="divider" href="">I</a></li>
        {% if user.is_authenticated %}
            <li>
                <div class="profile">
                    <img src="{% static "images/pp.svg" %}" alt="" width="35">
                    <div class="p-dd">
                        <a clas="p-dd-btn" href="">{{user.username}}</a>
                        <div class="p-dd-c">
                            {% if "dashboard" in request.path %}
                                <form action="{% url "logout" %}" method="POST" id="logout" >
                                    {% csrf_token %}
                                    <a href="" onclick='this.parentNode.submit();return false;'>Log out</a>
                                </form>
                            {% else %}
                                <a href="{% url "dashboard" %}">Dashboard</a>
                                <form action="{% url "logout" %}" method="POST" id="logout" >
                                    {% csrf_token %}
                                    <a href="" onclick='this.parentNode.submit();return false;'>Log out</a>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
        {% else %}
            {% if "signup" in request.path %}
                <li><a class="nav-button"href="{% url "login" %}">Log in</a></li>
            {% elif "login" in request.path %}
                <li><a class="nav-button"href="{% url "signup" %}">Sign up</a></li>
            {% else %}
                <li><a class="nav-button"href="{% url "login" %}">Log in</a></li>
                <li><a class="nav-button"href="{% url "signup" %}">Sign up</a></li>
            {% endif %}
        {% endif %}

    </ul>
</nav>