{% extends 'accounts_base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/signup.css" %}">
{% endblock styles %}
{% block content %}
     <main>
        <section class="container">
        {% include "partials/_alerts.html" %}
            <div class="jiv">
                <h1>Join INDI-VILLA</h1>
                </div>
                <div class="g-button">
                <button class=go>
                    <img src="{% static "images/go.svg"%}" alt="" width="30">
                    Continue with Google
                </button>
            </div>
            <div class="or">
                <img src="{% static "images/or.svg"%}" alt="" height="30">
            </div>
            <form id="sign" action="{% url "signup" %}" method="POST">
                {% csrf_token %}
                <label>
                    <input type="text" name="first_name" id="username" placeholder="Enter First Name">
                </label>
                <label>
                    <input type="text" name="last_name" id="username" placeholder="Enter Last Name">
                </label>
                <label>
                    <input type="email" name="email" placeholder="Enter Email">
                </label>
                <label>
                    <input type="text" name="username" id="username" placeholder="Enter Username">
                </label>
                <label>
                    <input type="password" name="password" placeholder="Enter Password">
                </label>
                <label>
                    <input type="password" name="password2" placeholder="Re-Enter Password">
                </label>
                <a href="#" onclick='this.parentNode.submit(); return false;' class="continue-button">Continue</a>
            </form>
            <div class="aam">
                Already a member?
                <a href="{% url "login" %}" class="log-in-link">Log in</a>
            </div>
        </section>
        </main>
{% endblock content %}