<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/dist/css/property.css">
    <title>INDI-VILLA</title>
  </head>
  <body>
        <nav>
            <div class="brand">
                <img src="/dist/brand.svg" alt="" width="18">
                INDI-VILLA
            </div>
            <ul class="links">
                <li><a class="nav-button"href="">Support</a></li>
                <li><a class="nav-button"href="">Buy</a></li>
                <li><a class="nav-button"href="">Sell</a></li>
                <li><a class="divider" href="">I</a></li>
                <li>
                    <div class="profile">
                        <img src="{% static "images/pp.svg"%}" alt="" width="35">
                        <div class="p-dd">
                            <a clas="p-dd-btn" href="">Profile</a>
                            <div class="p-dd-c">
                                <a href="">Account</a>
                                <a href="">Analytics</a>
                                <a href="">Log out</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <section class="content">
            <main class="grid-container">
                <div class="grid-name-grid grid-item">
                    <h1 class="card-title">Sowparnika Ashiyanan</h1>
                    <div class="address">
                        <img src="/dist/loc2.svg" alt="" width="14">
                        <h4>Whitefield, Bengaluru East</h4>
                    </div>
                    <div class="status">
                        <a href="" class="tag">Under-Construction</a>
                        <a href="" class="tag">For Sale</a>
                    </div> 
                </div>
                <div class="grid-photos grid-item">
                </div>
                <div class="grid-details grid-item">
                    <div class="detail">
                        <h1>Details</h1>
                        <table id="detail-table">
                        <colgroup>
                            <col style="width:30%">
                            <col style="width:70%">
                        </colgroup>
                            <tr>
                                <td>Category</td>
                                <td>Apartment</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>Apartment</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>Apartment</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>Apartment</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>Apartment</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>Apartment</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>Apartment</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>Apartment</td>
                            </tr>
                        </table>
                    </div>
                    <div class="description">
                        <h1>Description</h1>
                        <p>At very prime location at At Sigra Varanasi very good society for a better living experience 24*7 Gaurd & 24*7 Lift facility intercom connectivity and very secured place where you can live your pleasant life. very minimum maintenance cost according to other apartments situated around that place.</p>
                    </div>
                </div>
                <div class="grid-price-card grid-item">
                    <h1 class="price"> ₹ 40.3L -  ₹ 50.4L</h1>
                    <h4 class="bhk">2 BHK - 3 BHK</h4>
                    <h4 class="sqft">from 3200 sq. ft</h4>
                </div>
                <div class="po-card grid-item">
                    <h1>Property Owner Details</h1>
                </div>
                <div class="location grid-item">
                    <h1>Location</h1>

                </div>
                <div class="agent grid-item">
                    <h1>Agency Details</h1>
                </div>

            </main>
        </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
    {% include "partials/_footer.html"%}
</html>
