{% load static %}
{% load indian_numbers_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css' integrity='sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==' crossorigin='anonymous'/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/listings_new.css"%}">
    <title>INDI-VILLA</title>
  </head>
  <body>
        <nav>
            <div class="brand">
                <a href="{% url "index"%}">
                    <img src="{% static "images/brand.svg"%}" alt="" width="18">
                    INDI-VILLA
                </a>
            </div>
            <ul class="links">
                <li><a class="nav-button"href="">About</a></li>
                <li><a class="nav-button"href="">Buy</a></li>
                <li><a class="nav-button"href="">Sell</a></li>
                <li><a class="divider" href="">I</a></li>
                <li>
                    <div class="profile">
                        <img src="{%static "images/pp.svg"%}" alt="" width="35">
                        <div class="p-dd">
                            <a clas="p-dd-btn" href="">Profile</a>
                            <div class="p-dd-c">
                                <a href="">Account</a>
                                <a href="">Analytics</a>
                                <a href="">Log out</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <main>
            <section class="filters">
                <div class="filters-h"><h1>FILTERS</h1></div>
                <hr>
                <section class="filter-sections">
                <form action="listings" method="POST">
                    {% csrf_token %}
                    <div class="filter-section multi">
                        <h1 class="title">City</h1>
                        <div class="choices">
                        <select name="city" class="form-control">
                            <option selected="true" disabled="disabled">City (All)
                            </option>
                            {% for k,v in city_choices.items %}
                                <option value="{{ k }}">
                                {{v}}
                                </option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="filter-section multi">
                        <h1 class="title">State</h1>
                        <div class="choices">
                        <select name="state" class="form-control">
                            <option selected="true" disabled="disabled">State (All)
                            </option>
                            {% for k,v in state_choices.items %}
                                <option value="{{ k }}">
                                {{v}}
                                </option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="filter-section multi">
                        <h1 class="title">Category</h1>
                        <div class="choices">
                        <select name="category" class="form-control">
                            <option selected="true" disabled="disabled">Category
                            </option>
                            {% for k,v in category_choices.items %}
                                <option value="{{ k }}">
                                {{v}}
                                </option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="filter-section multi">
                        <h1 class="title">Type</h1>
                        <div class="choices">
                        <select name="l_type" class="form-control">
                            <option selected="true" disabled="disabled">Type 
                            </option>
                            {% for k,v in type_choices.items %}
                                <option value="{{ k }}">
                                {{v}}
                                </option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="filter-section multi">
                        <h1 class="title">Bedrooms</h1>
                        <div class="choices">
                        <select name="bedrooms" class="form-control">
                            <option selected="true" disabled="disabled">Bedrooms
                            </option>
                            {% for k,v in bedroom_choices.items %}
                                <option value="{{ k }}">
                                {{v}}
                                </option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                      <div class="filter-section multi">
                        <h1 class="title">Bathrooms</h1>
                        <div class="choices">
                        <select name="bathrooms" class="form-control">
                            <option selected="true" disabled="disabled">Bathrooms
                            </option>
                            {% for k,v in bathroom_choices.items %}
                                <option value="{{ k }}">
                                {{v}}
                                </option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                      <div class="filter-section multi">
                        <h1 class="title">Garage</h1>
                        <div class="choices">
                        <select name="garage" class="form-control">
                            <option selected="true" disabled="disabled">Garage
                            </option>
                            {% for k,v in garage_choices.items %}
                                <option value="{{ k }}">
                                {{v}}
                                </option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <button type="submit">Submit</button>
                </form>
                </section>
            </section>
            <section class="card-panel">
                <div class="cards">
                    {% if listings %}
                        {% for listing in listings %}
                            <div class="card">
                                <div class="card-image">
                                        <img src="{{ listing.photo_main.url }}" alt="" width="380">
                                        <div class="loc-imag">
                                        {{ listing.city }}
                                        </div>
                                </div>
                                <div class="details">
                                    <h1 class="card-title">{{listing.title}}</h1>
                                    <div class="address">
                                        <img src="{% static  "images/loc.svg" %}" alt="" width="20">
                                        <h4>{{ listing.address }}</h4>
                                    </div>
                                    <div class="mini-card">
                                        <div class="mini-p">
                                            <h1>₹ {{ listing.price | floatword_indian}}</h1>
                                        </div>
                                        <div class="mini-b1">
                                            <i class="fas fa-bed fa-lg"></i>
                                            <h3>{{ listing.bedrooms }} Bedrooms</h3>
                                        </div>
                                        <div class="mini-b2">
                                            <i class="fas fa-toilet-paper fa-lg"></i>
                                            <h3>{{ listing.bathrooms }} Bathrooms</h3>
                                        </div>
                                    </div>
                                    <div class="card-button">
                                        <a href="{% url "listing" listing.id %}">More Info</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-md-12">
                            <p>No Listings Available</p>
                        </div>
                    {% endif %}
            </div>
            {% if listings.has_other_pages %}
                <div class="pagination">
                    {% if listings.has_previous %}
                        <a href="?page={{listings.previous_page_number}}" class="active">Previous</a>
                    {% else %}
                        <a href="" class="disabled">Previous</a>
                    {% endif %}
                    {% if listings.has_next %}
                        <a href="?page={{listings.next_page_number}}" class="active">Next</a>
                    {% else %}
                        <a href="" class="disabled">Next</a>
                    {% endif %}
                </div>
            {% endif %}
            </section>
        </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==' crossorigin='anonymous'></script>
  </body>
    {% include "partials/_footer.html"%}
    <script type="text/javascript" src="{% static "js/filter-listings.js" %}"></script>
</html>
